.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--primary-color);
    backdrop-filter: blur(10px);
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    font-family: var(--font-family);
}

.logo {
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
}

.navList {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLink {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: var(--secondary-color);
}

.menuButton {
    display: none;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.8rem;
    cursor: pointer;
}



@media (max-width: 768px) {

  .menuButton {
    display: block;
  }

  .nav {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: var(--primary-color);
    transform: translateY(-200%);
    transition: transform 0.3s ease;
  }

  .navOpen {
    transform: translateY(0);
  }

  .navList {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
  }
}